.box {
    height: 200px;
    background-color: purple;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: black;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 12fr; /* Default layout for small screens */
    gap: 10px;
}

/* Medium screens: 900px and up */
@media (min-width: 900px) and (max-width: 1199px){
    .container {
        grid-template-columns: 6fr 6fr;
        grid-column: 2;
    }
    .box:nth-child(3) {
        grid-column: 1 / span 2;
    }
}



/* Large screens: 1200px and up */
@media (min-width: 1200px) {
    .container {
        grid-template-columns: 4fr 4fr   4fr;
    }
}
