        body {
            transition: background-color 1s ease-in-out;
        }
        .time {
            padding: 20px;
            margin: 20px;
            font-size: 50px;
            box-shadow: 6px 6px 12px black;
            border-radius: 30px;
            width: 150px;
            text-align: center;
            transition: background-color 1s ease, box-shadow 1s ease;
        }
        main{
            display: block;
            align-items: center;
            justify-content: center;
        }
        .clock{
            padding: 10px;
            height: 300px;
            width: 500px;
            
        }
        .clock span{
            font-size: 50px;
            margin-bottom: 20px;
            margin-left: -5px;
            margin-right: -10px;
        }
        #today{
            font-size: 40px;
            box-shadow: 5px 5px 7px black;
            /* border: 1px solid white; */
            padding: 15px;
            border-radius: 30px;    

        }
        header{
            display: flex;
            justify-content: end;
        }
        .bi-moon{
            color: white;
            
        }   
        .icon{
            margin: 20px;
            border: 1px solid white;
            border-radius: 50%;
            padding: 5px 7px 5px 7px;
        }